:root {
  --primary: rgb(143, 193, 165);
  --secondary: rgb(216, 216, 216);
  --error: rgb(173, 118, 118);
}

body {
  background-color: rgb(39, 39, 39);
  /* font-family: blabla; */
  color: var(--secondary);
}
section{
  padding-top: 2%;
}
.App{
  min-width: 200px;
  max-width: 960px;
  padding-top: 20px;
  margin: auto;
}

.title h1{
  text-align: end;
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-size: normal;
  margin: 50px 0;
}
.title h2{
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.title h2, .title p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}